name: Deploy

permissions:
  contents: write

on:
  push:
    tags:
      - 'v*'
  workflow_dispatch:

env:
  CRATE_NAME: internal-studio-patcher

jobs:
  build-and-upload:
    runs-on: ${{ matrix.os }}
    strategy:
      fail-fast: false
      matrix:
        include:
          - os: windows-latest
            target: x86_64-pc-windows-msvc
            suffix: .exe
            asset_name: internal-studio-patcher.exe

    steps:
      - uses: actions/checkout@v4

      - uses: dtolnay/rust-toolchain@stable
        with:
          targets: ${{ matrix.target }}

      - run: cargo build --release --target ${{ matrix.target }}

      - shell: bash
        run: cp "target/${{ matrix.target }}/release/${{ env.CRATE_NAME }}${{ matrix.suffix }}" "${{ matrix.asset_name }}"

      - uses: softprops/action-gh-release@v2
        with:
          files: ${{ matrix.asset_name }}
