name: Deploy

permissions:
  contents: write

on:
  push:
    tags:
      - 'v*'  # run when you push a tag like v1.0.0
  release:
    types: [created]
  workflow_dispatch:

env:
  CRATE_NAME: internal-studio-patcher

jobs:
  build-and-upload:
    name: Build ${{ matrix.target }}
    runs-on: ${{ matrix.os }}
    strategy:
      fail-fast: false
      matrix:
        include:
          - os: windows-latest
            target: x86_64-pc-windows-msvc
            suffix: .exe
            asset_name: internal-studio-patcher.exe

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Install Rust toolchain
        uses: dtolnay/rust-toolchain@stable
        with:
          targets: ${{ matrix.target }}

      - name: Build Release
        run: cargo build --release --target ${{ matrix.target }}

      - name: Rename Binary
        shell: bash
        run: |
          cp "target/${{ matrix.target }}/release/${{ env.CRATE_NAME }}${{ matrix.suffix }}" "${{ matrix.asset_name }}"

      - name: Upload Release Asset
        uses: softprops/action-gh-release@v2
        if: startsWith(github.ref, 'refs/tags/')
        with:
          files: ${{ matrix.asset_name }}
